# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:

from pathlib import Path
import pandas as pd
from sqlalchemy import create_engine

In [2]:
repo = Path.cwd()
path = repo / 'data' / 'disaster_messages.csv'

In [3]:
# load messages dataset
messages = pd.read_csv(path, sep=',')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [4]:
path = repo / 'data' / 'disaster_categories.csv'

In [5]:
# load categories dataset
categories = pd.read_csv(path, sep=',')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [6]:
messages.shape, categories.shape

((26248, 4), (26248, 2))

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [7]:
sum(messages.id.duplicated()), sum(categories.id.duplicated())

(68, 68)

In [8]:
# remove duplicate ids 
messages.drop_duplicates(subset="id", inplace=True)
categories.drop_duplicates(subset="id", inplace=True)

In [9]:
sum(messages.id.duplicated()), sum(categories.id.duplicated())

(0, 0)

In [10]:
# set id variable as index
messages.set_index(keys='id', inplace=True)
categories.set_index(keys='id', inplace=True)

In [11]:
# merge datasets
df = pd.merge(categories, messages, left_index=True, right_index=True)
df.head()

,categories,message,original,genre
id,,,,
2,related-1;request-0;offer-0;aid_related-0;medi...,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
7,related-1;request-0;offer-0;aid_related-1;medi...,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
8,related-1;request-0;offer-0;aid_related-0;medi...,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
9,related-1;request-1;offer-0;aid_related-1;medi...,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
12,related-1;request-0;offer-0;aid_related-0;medi...,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [12]:
df.shape

(26180, 4)

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [13]:
# create a dataframe of the 36 individual category columns
categories = df.categories.str.split(pat=";", expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
id,,,,,,,,,,,,,,,,,,,,,
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
7,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
8,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
9,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
12,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [14]:
categories.shape

(26180, 36)

In [15]:
# use first row to extract a list of new column names for categories.
category_colnames = list(map(lambda x: x.split('-')[0], categories.iloc[0,:]))
print(category_colnames)

['related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

In [16]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
id,,,,,,,,,,,,,,,,,,,,,
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
7,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
8,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
9,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
12,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Use applymap function in Pandas

In [17]:
categories = categories.applymap(lambda x: int(x[-1]))
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
id,,,,,,,,,,,,,,,,,,,,,
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
8,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
# confirm variable data types
categories.dtypes

related                   int64
request                   int64
offer                     int64
aid_related               int64
medical_help              int64
medical_products          int64
search_and_rescue         int64
security                  int64
military                  int64
child_alone               int64
water                     int64
food                      int64
shelter                   int64
clothing                  int64
money                     int64
missing_people            int64
refugees                  int64
death                     int64
other_aid                 int64
infrastructure_related    int64
transport                 int64
buildings                 int64
electricity               int64
tools                     int64
hospitals                 int64
shops                     int64
aid_centers               int64
other_infrastructure      int64
weather_related           int64
floods                    int64
storm                     int64
fire                      int64
earthquake                int64
cold                      int64
other_weather             int64
direct_report             int64
dtype: object

In [19]:
# Check for any coding issues
# Do all variables have values
categories.sum()

related                   20252
request                    4464
offer                       118
aid_related               10841
medical_help               2081
medical_products           1311
search_and_rescue           724
security                    471
military                    859
child_alone                   0
water                      1669
food                       2917
shelter                    2308
clothing                    404
money                       603
missing_people              298
refugees                    874
death                      1192
other_aid                  3441
infrastructure_related     1705
transport                  1199
buildings                  1331
electricity                 532
tools                       159
hospitals                   283
shops                       120
aid_centers                 309
other_infrastructure       1151
weather_related            7286
floods                     2149
storm                      2440
fire                        282
earthquake                 2452
cold                        528
other_weather              1376
direct_report              5064
dtype: int64

In [20]:
# child_alone does not have any entries
# drop from data set
categories.drop(columns="child_alone", inplace=True)
categories.shape

(26180, 35)

In [21]:
# variable related has some values coded as 2. These will be dropped later.
categories.apply(lambda x: x.value_counts(), axis=0).transpose()

                              0        1      2
related                  6116.0  19876.0  188.0
request                 21716.0   4464.0    NaN
offer                   26062.0    118.0    NaN
aid_related             15339.0  10841.0    NaN
medical_help            24099.0   2081.0    NaN
medical_products        24869.0   1311.0    NaN
search_and_rescue       25456.0    724.0    NaN
security                25709.0    471.0    NaN
military                25321.0    859.0    NaN
water                   24511.0   1669.0    NaN
food                    23263.0   2917.0    NaN
shelter                 23872.0   2308.0    NaN
clothing                25776.0    404.0    NaN
money                   25577.0    603.0    NaN
missing_people          25882.0    298.0    NaN
refugees                25306.0    874.0    NaN
death                   24988.0   1192.0    NaN
other_aid               22739.0   3441.0    NaN
infrastructure_related  24475.0   1705.0    NaN
transport               24981.0   1199.0    NaN
buildings               24849.0   1331.0    NaN
electricity             25648.0    532.0    NaN
tools                   26021.0    159.0    NaN
hospitals               25897.0    283.0    NaN
shops                   26060.0    120.0    NaN
aid_centers             25871.0    309.0    NaN
other_infrastructure    25029.0   1151.0    NaN
weather_related         18894.0   7286.0    NaN
floods                  24031.0   2149.0    NaN
storm                   23740.0   2440.0    NaN
fire                    25898.0    282.0    NaN
earthquake              23728.0   2452.0    NaN
cold                    25652.0    528.0    NaN
other_weather           24804.0   1376.0    NaN
direct_report           21116.0   5064.0    NaN

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [22]:
# drop the original categories column from `df`

df.drop(columns='categories', inplace=True)
df.head()

,message,original,genre
id,,,
2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [23]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([categories, df], join='inner', axis=1)
df.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,water,...,floods,storm,fire,earthquake,cold,other_weather,direct_report,message,original,genre
id,,,,,,,,,,,,,,,,,,,,,
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
7,1,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
8,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
9,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
12,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [24]:
df.shape

(26180, 38)

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [25]:
# check number of duplicates
sum(df.duplicated()), sum(~df.duplicated())

(1, 26179)

In [26]:
# drop duplicates
df.drop_duplicates(inplace=True)
df.shape

(26179, 38)

In [27]:
# check number of duplicates
sum(df.duplicated()), sum(~df.duplicated())

(0, 26179)

In [28]:
# As noted previously, related is coded as 2 for some observations.
df[df.related == 2].head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,water,...,floods,storm,fire,earthquake,cold,other_weather,direct_report,message,original,genre
id,,,,,,,,,,,,,,,,,,,,,
146,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,Dans la zone de Saint Etienne la route de Jacm...,Nan zon st. etine rout jakmel la bloke se mize...,direct
263,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,. .. i with limited means. Certain patients co...,t avec des moyens limites. Certains patients v...,direct
373,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,The internet caf Net@le that's by the Dal road...,Cyber cafe net@le ki chita rout de dal tou pr ...,direct
565,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,"Bonsoir, on est a bon repos aprs la compagnie ...",Bonswa nou nan bon repo apri teleko nan wout t...,direct
700,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,URGENT CRECHE ORPHANAGE KAY TOUT TIMOUN CROIX ...,r et Salon Furterer. mwen se yon Cosmtologue. ...,direct

In [29]:
df[df.related == 2].shape, df[df.related != 2].shape, df.shape

((188, 38), (25991, 38), (26179, 38))

In [30]:
# drop observations with related == 2
df = df[df.related != 2]

In [31]:
df[df.related == 2].shape, df[df.related != 2].shape, df.shape

((0, 38), (25991, 38), (25991, 38))

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [32]:
engine = create_engine('sqlite:///data/DisasterResponse.db')
df.to_sql('Message', engine, if_exists='replace', index=False)

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.